doctype html
html(lang='en')
  head
    title Grocky Presentation
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    )
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    )
    meta(name='description' content='grocky presentation')
    meta(name='author' content='Rocky Gray')
    link(rel='stylesheet' href='css/font-awesome.min.css')
    link(rel='stylesheet' href='css/reveal.css')
    link#theme(rel='stylesheet' href='css/theme/night.css')
    link(rel='stylesheet' href='lib/css/zenburn.css')
    link(rel='stylesheet' href='css/custom.css')
    script.
      const link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
  body
    .reveal
      .slides
        block content
          include default-slides
    script(src='head.min.js')
    script(src='js/reveal.js')
    script.
        Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          fragments: true,
          // none/fade/slide/convex/concave/zoom
          transition: 'slide',
          // Optional reveal.js plugins
          dependencies: [
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true },
            { src: 'plugin/notes/notes.js', async: true }
          ]
        });
    script(src='/socket.io/socket.io.js')

    if isPresenter
      script(src='/js/controller-main.js')
    else
      script(src='/js/viewer-main.js')
